<main>
    <section id="timer-container">
        <button id="info-button"><i class="fa fa-info-circle"></i></button>
        <div id="timer-display">
            <h2 id="main-timer">25:00</h2>
            <hr id="timer-rule">
        </div>

        <div id="main-button-container">
            <button class="main-button" id="start-button">START</button>
            <button class="main-button hidden" id="stop-button">STOP</button>
        </div>
    </section>

    <section id="button-container">
        <button class="timer-button" id="long-button" title="Skip to Long Break. If you skip, the progress of the current timer will be lost.">Long Break</button>
        <button class="timer-button active" id="focus-button" title="Skip to Focus. If you skip, the progress of the current timer will be lost.">Focus</button>
        <button class="timer-button" id="short-button" title="Skip to Short Break. If you skip, the progress of the current timer will be lost.">Short Break</button>
    </section>
</main>

<div class="hidden" id="modal-backdrop"></div>

<div class="modal-container hidden" id="info-modal">
    <div class="modal">
        <div class="modal-header">
            <h3>What is this?</h3>
            <button type="button" id="modal-close" class="modal-hide-button">&times;</button>
        </div>

        <div class="modal-body">
            <p class="info-text">Tomato Tracker uses the pomodoro technique to help you stay focused. The pomodoro technique consists of "pomodoros" which start with a focus session of 25 minutes and ends with a short break of 5 minutes. Every 4 pomodoros is followed by a long break of 25mins.</p>
            <br>
            <p class="info-text">Click [START] to start the pomodoro. If the timer is running you can hit [STOP] to stop the timer. Whether you are in a long break, short break, or focus session is tracked below the timer. Clicking the [LONG BREAK], [FOCUS], and [SHORT BREAK] buttons will skip to the corrosponding timer. The colors of the page will change depending on which timer is active. </p>
        </div>
    </div>
</div>

<div class="modal-container hidden" id="skip-long-modal">
    <div class="modal confirmation">
        <h3>Are you sure you want to skip Long Break? This will reset your progress to Long Break.</h3>
        <div class="dialog-buttons">
            <button id = "no-skip-button" class="confirmation-button modal-hide-button">No</button>
            <button id = "yes-skip-button" class="confirmation-button">Yes</button>
        </div>
    </div>
</div>
