<main>
    <section id="timer-container">
        <button id="info-button"><i class="fa fa-info-circle"></i></button>
        <div id="round-container">
            <h3 id="round-display">Round 0/4 - Total Rounds: 0</h3>
        </div>
        <div id="timer-display">
            <h2 id="main-timer">25:00</h2>
            <hr id="timer-rule">
        </div>

        <div id="main-button-container">
            <button class="main-button" id="start-button">START</button>
            <button class="main-button hidden" id="stop-button">STOP</button>
        </div>
    </section>

    <section id="button-container">
        <button class="timer-button" id="long-button" title="Skip to Long Break. If you skip, the progress of the current timer will be lost.">Long Break</button>
        <button disabled class="timer-button" id="focus-button" title="Skip to Focus. If you skip, the progress of the current timer will be lost.">Focus</button>
        <button class="timer-button" id="short-button" title="Skip to Short Break. If you skip, the progress of the current timer will be lost.">Short Break</button>
    </section>
</main>

<div class="hidden" id="modal-backdrop"></div>

<div class="modal-container hidden" id="info-modal">
    <div class="modal">
        <div class="modal-header">
            <h3>What is this?</h3>
            <button type="button" id="modal-close" class="modal-hide-button">&times;</button>
        </div>

        <div class="modal-body">
            <p class="info-text">Tomato Tracker uses the pomodoro technique to help you stay focused. The pomodoro technique consists of "pomodoros" which start with a focus session of 25 minutes and ends with a short break of 5 minutes. Every 4 pomodoros is followed by a long break of 25mins.</p>
            <br>
            <p class="info-text">Click [START] to start the pomodoro. If the timer is running you can hit [STOP] to stop the timer. Whether you are in a long break, short break, or focus session is tracked below the timer. Clicking the [LONG BREAK], [FOCUS], and [SHORT BREAK] buttons will skip to the corrosponding timer. The colors of the page will change depending on which timer is active. </p>
        </div>
    </div>
</div>

<div class="modal-container hidden" id="skip-long-modal">
    <div class="modal confirmation">
        <h3>Are you sure you want to skip Long Break? This will reset your progress to Long Break.</h3>
        <div class="dialog-buttons">
            <button id = "no-skip-button" class="confirmation-button modal-hide-button">No</button>
            <button id = "yes-skip-button" class="confirmation-button">Yes</button>
        </div>
    </div>
</div>

<!-- Login Modal -->
<div class="modal-container hidden" id="sign-in-modal">
    <div class="modal">
        <div class="modal-header">
            <h3>Sign In</h3>
            <button type="button" id="modal-close" class="modal-hide-button">&times;</button>
        </div>

        <div class="modal-body">
            <form id="sign-in-form">
                <label class="form-item" for="sign-in-username">Username:</label><br>
                <input class="form-item" type="text" id="sign-in-username" name="sign-in-username" value=""><br>
                <label class="form-item" for="sign-in-password">Password:</label><br>
                <input class="form-item" type="password" id="sign-in-password" name="sign-in-password" value=""><br><br>
                <input class="form-item" type="button" value="Submit" id="sign-in-submit">
            </form>
        </div>
    </div>
</div>

<!-- sign up Modal -->
<div class="modal-container hidden" id="sign-up-modal">
    <div class="modal">
        <div class="modal-header">
            <h3>Sign Up</h3>
            <button type="button" id="modal-close" class="modal-hide-button">&times;</button>
        </div>

        <div class="modal-body">
            <form id="sign-up-form">
                <label class="form-item" for="sign-up-username">Username:</label><br>
                <input class="form-item" type="text" id="sign-up-username" name="sign-up-username" value=""><br>
                <label class="form-item" for="sign-up-password">Password:</label><br>
                <input class="form-item" type="password" id="sign-up-password" name="sign-up-password" value=""><br><br>
                <input class="form-item" type="button" value="Submit" id="sign-up-submit">
            </form>
        </div>
    </div>
</div>


<!-- settings Modal -->
<div class="modal-container hidden" id="settings-modal">
    <div class="modal">
        <div class="modal-header">
            <h3>Settings</h3>
            <button type="button" id="modal-close" class="modal-hide-button">&times;</button>
        </div>

        <div class="modal-body">
            <div id="settings-container">
                <div class="setting-item">
                    <label for="settings-short-break-length">Short Break Length (minutes):</label>
                    <input class="setting-text" type="number" id="settings-short-break-length" name="settings-short-break-length" onfocusout="handleSettingShortBreak()" value="5">
                </div><br>
                <div class="setting-item">
                    <label for="settings-long-break-length">Long Break Timer Length (minutes):</label>
                    <input class="setting-text" type="number" id="settings-long-break-length" name="settings-long-break-length" onfocusout="handleSettingLongBreak()" value="25">
                </div><br>
                <div class="setting-item">
                    <label for="settings-webhook">Webhook Notifications:</label>
                    <input class="setting-checkbox" onclick="handleSettingWebhook()" type="checkbox" id="settings-webhook">
                    <input class="setting-text" type="url" readonly id="settings-webhook-key" name="settings-webhook-key" onfocusout="handleSettingWebhookKey()" value="">
                </div><br>
            </div>
        </div>
    </div>
</div>