:root {
    --primary-color: #d90707;
    --secondary-color:#f7efef;
    --focus-color: #d90707;
    --short-color: #07afd9;
    --long-color: #a107d9;
    --dark-font: #150503;
    --light-font: #f0ebea;
}
/* reset */
html, body, h1, h2, h3, p, ul, li, form, input, select, textarea, button {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color:var(--dark-font);
    background-color: var(--secondary-color);
}

header {
    background-color: var(--primary-color);
    margin:auto;
    display: flex;
    align-items: center;
    position: relative;
}

header h1 {
    font-size: 2.5rem;
    font-weight: bold;
    -webkit-text-stroke: 1px var(--dark-font);
    color: var(--light-font)
}

.site-title {
    font-size: 55px;
    font-weight: 100;
    margin: 20px 0 20px 20px;
}

.hidden {
    display: none;
}

main {
    justify-content: center;
    padding: 50px;
}

#timer-container {
    display: flex;
    flex-direction: column;
    background: white;
    border-style: solid;
    border-radius: 10px;
    border-color: var(--primary-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 50px;
    margin: auto;
    max-width: 50%;
    min-width: 200px;
    justify-content: center;
    align-items: center;
    max-height: 40%;
    min-height: 200px;
    position:relative;
}

#info-button {
    float: right;
    position:absolute;
    top: 10px;
    right: 10px;
    border:none;
    border-radius: 35px;
    height:30px;
    width: 30px;
    font-size: 35px;
    padding: 0px;
    color: var(--primary-color);
    cursor: pointer;
}

#info-button:hover {
    height:35px;
    width: 35px;
    background-color: none;
    color: var(--dark-font);
}

#main-timer {
    font-size:120px;
}

#timer-rule {
    color: var(--dark-font);
}

#main-button-container {
    padding-top: 20px;
    width: 25%;
}

.main-button {
    cursor: pointer;
    width: 100%;
    height: 50px;
    border: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: var(--dark-font);
    font-weight: bold;
    font-size: 30px;
    -webkit-text-stroke: 0.75px var(--dark-font);
    color: var(--light-font);
    box-shadow: 3px 4px 0px rgba(0, 0, 0, 1);
    transition-duration: 0.4s;
}

#start-button {
    background-color: var(--primary-color);
}

#start-button:hover {
    background-color: grey;
}

.main-button:active {
    transform: translateY(2px);
}

#stop-button {
    background-color: grey;
}

#stop-button:hover {
    background-color: var(--primary-color);
}

#button-container{
    display:flex;
    max-width: 50%;
    min-width: 300px;
    margin:auto;
    position:relative;
    align-items: center;
    justify-content:center;
    padding-top: 10px;
}

.timer-button {
    cursor: pointer;
    width: 100%;
    height: 50px;
    border: solid;
    border-radius: 2.5px;
    border-width: 1px;
    border-color: var(--dark-font);
    font-weight: bold;
    font-size: 30px;
    -webkit-text-stroke: 0.75px var(--dark-font);
    color: var(--light-font);
    transition-duration: 0.4s;
    box-shadow: 3px 4px 0px rgba(0, 0, 0, 1);
    background-color: grey;
}

#long-button:hover {
    background-color: var(--long-color);
}

#short-button:hover {
    background-color: var(--short-color);
}

#focus-button:hover {
    background-color: var(--focus-color);
}

.timer-button:active {
    transform: translateY(2px);
}

button:disabled {
    box-shadow: 3px 4px 0px rgba(0, 0, 0, 1);
    background-color: var(--primary-color);
    cursor:default;
    transform: translateY(2px)
}

#modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.85);
}

.modal-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1010;
    overflow: scroll;
}

.modal {
    width: auto;
    max-width: 50%;
    min-width: 200px;
    min-height: 300px;
    height: auto;
    margin: 10% auto;
    background-color: #fff;
    border-radius: 10px;
    border-style: solid;
    border-radius: 10px;
    border-color: var(--primary-color);
}

.modal-header {
    position: relative;
    padding: 10px 20px;
}
  
.modal-header h3 {
    margin: 0;
    font-size: 28px;
}
  
#modal-close {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 32px;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.info-text {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
}


.confirmation h3 {
    text-align: center;
    padding: 10px;
}

.confirmation {
    max-width: 20%;
    min-width: 200px;
    min-height: 200px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.confirmation-button {
    cursor: pointer;
    min-width: 100%;
    width: 100%;
    height: 50px;
    border: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: var(--dark-font);
    font-weight: bold;
    font-size: 20px;
    color: var(--dark-font);
    box-shadow: 3px 4px 0px rgba(0, 0, 0, 1);
    transition-duration: 0.4s;
    padding: 3px;
}

.dialog-buttons {
    display:flex;
    position:relative;
    align-items: center;
    justify-content:center;
    padding-top: 10px;
}